.card{
    display: flex;
    flex-basis: 28rem ;
    width: 2rem;
    height: auto;
    border: 1px solid #121212;
    flex-direction :column;
    margin-left: 2rem;
   
   }
   .card .imgCard {
       flex:1;
      
   }
   .card .imgCard img{
       object-fit: fill;
       height: 20rem;
       margin-bottom: 1rem;
   }
   .card .cardTitle{
       font-size:4rem;
       margin-left: 2rem;
       color:chocolate;
       margin-bottom: 1rem;
   }
   
   .card .cardDescription{
       font-size:1.6rem;
       font-weight: 500;
       margin-left: 2rem;
       color:#121212;
       font-weight: 500;
       margin-bottom: 1rem;
   }
   .card .cardLevel{
       font-size:2rem;
       margin-left: 2rem;
       color:#121212;
       font-weight: 500;
       margin-bottom: 1rem;
   }
   .card .cardReward{
       font-size:2rem;
       margin-left: 2rem;
       color:#121212;
       font-weight: 500;
       display: flex;
       margin-bottom: 1rem;
   }
   .card .cardReward svg{
    color:rgba(252, 248, 6, 0.959);
    position: relative;
    top: 0.6rem;
    right:0.3rem;
    margin-right: 0.8rem;
}
   
   .card .cardDuration{
       font-size:2rem;
       display: flex;
       margin-left: 2rem;
       color:#121212;
       font-weight: 500;
       margin-bottom: 1rem;
    
   }

   .card .cardDuration svg{
    color: rgba(0, 47, 255, 0.87);
    position: relative;
    top: 0.6rem;
    right:0.3rem;
    margin-right: 0.8rem;
}